body {
  padding: 0;
  margin: 0;
  background-color: grey;
  scroll-behavior: smooth;
}

.photo {
  opacity: 70%;
  width: auto;
  height: 100vh;
  display: block;
  background-size: cover;
}

.b1 {
  z-index: 1;
  background-color: transparent;
  top: 700px;
}
