body {
  background-color: sandybrown;
  margin: 0;
  padding: 0;
}
.saigoncityhall {
  height: 1000px;
  width: 1200px;
}

a {
  color: black;
  size: 100px;
  display: flex;
  padding: 50px;
  margin-top: 20px;
}
