.subheader {
  text-align: rigth;
  display: flex;
  justify-content: flex-end;
  font-size: large;
}

p1 {
  display: flex;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  box-sizing: border-box;
}

p2 {
  padding: 20px;
  text-align: right;
  display: flex;
}
