
h1 {
    color: green;
    padding: 50px;
    font-size: 50px;
}
body {
    /* background-color: black; */
}

p1 {
    /* color: white; */
    display:flex;
    padding: 20px;
    text-align: center;
    border: 2px solid red;
    box-sizing:border-box;
}

p2 {
    /* color: white; */
    padding:20px;  
    text-align:center; 
}

