body {
  background-color: #cccccc;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  display: left;
}

header {
  padding: 30px;
  text-align: left;
}

h2 {
  padding: 10px;
  display: center;
  justify-content: center;
  text-align: center;
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 65px;
  color: #5c5c5c;
}

h3 {
  padding: 10px;
  display: center;
  justify-content: center;
  text-align: right;
  font-family: "IM fell DW Pica", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 85;
  color: grey;
}

nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: grey;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  align-items: flex-start;
  padding: 5px 5%;
}

.main-video {
  height: 500px;
  width: 75%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.video {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.video-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}
