body {
  background-color: #cccccc;
  margin: auto;
  max-width: 900px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  display: left;
}

header {
  padding: 30px;
  text-align: left;
}

h2 {
  padding: 10px;
  display: center;
  justify-content: center;
  text-align: center;
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 65px;
  color: #5c5c5c;
}

h3 {
  padding: 10px;
  display: center;
  justify-content: center;
  text-align: right;
  font-family: "IM fell DW Pica", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 85;
  color: grey;
}

nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: grey;
}

.outer {
  border: 3px solid #e5e5cb68;
  max-width: 900px;
  min-height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main-video {
  height: 150%;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.video {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.video-list {
  background-color: white;
  border-radius: 20px;
  height: 450px;
  overflow-y: scroll;
}

.video-list::-webkit-scrollbar {
  width: 7px;
}

.video-list::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 10px;
}

.video-list::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}

.title {
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.vid video {
  width: 100px;
  border-radius: 10px;
}

.vid {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.vid:hover {
  background: grey;
}

.vid.active {
  background: #cccccc;
}

.vid.title {
  font-size: 30px;
}
