*{ 
    color:hotpink;

}

.myclass{
    color:blueviolet;
}
p{
    color:black;
    text-align: center;
    border: 1px solid red;
    padding: 30px;
    background-color: antiquewhite;
    /*width: 200px;*/
}   

article{
    text-align: center;
    border: 1px dashed lime;
    padding: 10px;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
    padding: 20px;
    font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style:normal

}
/*.padding-style {
    padding: 10px;
    border: 1px solid red;
}*/